.item {
  position: relative;
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
  background: white;
  grid-column-start: auto;
  grid-row-start: auto;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  cursor: pointer;
  border: solid 6px #fff;
  border-radius: 10px;
  background: #f5f5f5;
  box-shadow: 0 30px 20px -20px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.item:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.left-set {
  display: flex;
  /* flex: 4; */
  max-width: 40%;
}

.left-set img {
  width: 100%;
  height: auto;
}

.right-set {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  padding-left: 1rem;
  padding-top: 0.65rem;
  /* flex: 6; */
}

.right-set .name {
  font-size: 1.4rem;
  line-height: 2rem;
}

.right-set .subname {
  font-size: 0.8rem;
  line-height: 1rem;
}
.right-set .name,
.right-set .subname {
  font-weight: bold;
}
